<h1>Employees</h1>

<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col-sm-12" style="text-align:center">Edit</th>
      <th scope="col">Name</th>
      <th scope="col">Pay Type</th>
      <th scope="col">Active</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |emp| %>
        <tr>
          <td style="text-align:center"><a href="<%= edit_employee_path(emp) %>">
          <span class="glyphicon glyphicon-edit"></span>
        </a></td>
          <th scope="row"><%= link_to emp.full_name, emp %></th>
          <td><%= emp.pay_type %></td>
          <td><%= emp.active ? "Active" : "Inactive" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
