<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Lovely!</h1>
    <p>
      This is to let you know <%= @company.name %> has submitted payroll. Please login to retrieve & have a great day!!
    </p>
    <h3>Love Always,</h3>
    <p>Ferris</p>
  </body>
</html>
